h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-title{
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.25rem;
    background-color: rgb(148, 69, 221);
    border-radius: 10%;
    box-shadow: 2px 2px 15px rgba(65, 65, 65, 25%);
    transition: all 0.3s ease;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1.5rem;
    width: 10rem;
    height: 1.5rem;
    border-radius: 7.5px;
    font-weight: bold;
    box-shadow: 3px 3px 20px rgba(65, 65, 65, 25%);
    transition: all 0.3s ease;
}

#play{
    background-color: rgb(148, 69, 221);
    border: 1px solid rgb(148, 69, 221);
}

.button:hover{
    filter: brightness(95%);
    transform: rotateY(10deg);
}

#reset{
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(66, 66, 66);
}

.found-missed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(66, 66, 66);
}

.memory-container{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-width: 20%;
    margin: 2.5rem auto;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    width: 8rem;
    height: 8rem;
    background-color: rgb(197, 197, 197);
    border-radius: 10%;
    box-shadow: 5px 5px 25px rgba(65, 65, 65, 25%);
    transition: all 0.3s ease;
}

.card-opposite{
    display: flex;
    color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px 25px rgba(65, 65, 65, 10%);
    transition: all 0.3s ease;
}

.card-opposite-right{
    visibility: none; 
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    transition: all 0.3s ease;
}

.card:hover{
    filter: brightness(95%);
    transform: rotateY(10deg);
}

.card:nth-child(1),
.card:nth-child(5),
.card:nth-child(12){
    background-color: rgb(66, 66, 66);
}

.card:nth-child(6),
.card:nth-child(8),
.card:nth-child(11){
    background-color: rgb(148, 69, 221);
}